@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply font-bold;
    @apply text-2xl;
    @apply my-2;
  }
  
  h2 {
    @apply font-semibold;
    @apply text-xl;
    @apply my-2;
  }

  h3 {
    @apply font-semibold;
    @apply text-xl;
  }

  ::selection {
    @apply bg-primary-300;
    @apply text-primary-900;
  }

  ul {
    @apply pl-3;
  }

  li {
    @apply before:content-['—'];
    @apply before:mx-1;
  }

  html, body {
    @apply relative;
    @apply h-full;
    @apply min-h-[100dvh];
  }
}


@layer components {
  .min-page-h {
    min-height: calc(100dvh - 8rem);
  }
}

:root {
  --background: #F5F8FA; /* #ffffff; */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  font-family: var(--font-vk-sans-display), Helvetica, sans-serif;
  height: 100%;
  min-height: 100dvh;
  color: var(--foreground);
  background: var(--background);
}
