@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .min-page-h {
    min-height: calc(100dvh - 8rem);
  }

  h1 {
    @apply font-bold;
    @apply text-3xl;
  }

  h2 {
    @apply font-semibold;
    @apply text-2xl;
  }

  h3 {
    @apply font-semibold;
    @apply text-xl;
  }
}

:root {
  --primary-rgb: #008163;
  --primary-dark: #004235;
  --dark: #181C32;

  --background: #F5F8FA;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  height: 100%;
  min-height: 100dvh;
  background-color: var(--background);
}